<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JPG Player</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">

        <div>
            {% block img %}
            {% endblock %}
        </div>

        <div>
            {% block button %}
            {% endblock %}
        </div>

    </div>
    {% block script %}
    {% endblock %}

</body>
</html>